<h1>Blog</h1>

<blognav>
<%= link_to 'All you ever Wanted to know About Puppies', 'puppies.html.erb', :class => 'blog' %>
	<p class="blog_excerpt">
	Aliquam sit amet nisl ut magna placerat vehicula. Aliquam tincidunt purus non nibh posuere malesuada. Morbi tincidunt accumsan tortor, cursus aliquet elit fermentum at. Curabitur quis semper mauris. Nunc quis metus elit. Aliquam feugiat ornare sem a lobortis. Ut viverra accumsan erat, at malesuada dolor pretium nec. Integer semper luctus lorem non rutrum.
	</p>
<%= link_to 'New Dogwalking Schedules', '#', :class => 'blog' %>
<%= link_to 'The Health Benefits to Owning a Dog', '#', :class => 'blog' %>
<%= link_to 'Dealing with Dog Stains and Smells', '#', :class => 'blog' %>
<%= link_to 'What to do with your Difficult Pet', '#', :class => 'blog' %>
<%= link_to 'What does a Dog Walker do?', '#', :class => 'blog' %>
<%= link_to "We're open for Business in Baltimore!", '#', :class => 'blog' %>
</blognav>